@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
  --primary: #0090C1;
  --offwhite: #EEF8FF;
  --highlight: #f49f01;
  --offblack: #211A1D
}

* {
  font-family: 'Karla', sans-serif;
}

p,
h3 {
  color: var(--offblack);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}